*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    background-color: #FFF5EE;
}
a{
    text-decoration: none;
}
:about::before {
    content: "";
    display: block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
  }
.banner{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.banner video{
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner .content{
    position: relative;
    z-index: 1;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
.content{
    animation: drop 1.5s ease;
}
.banner .content h1{
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 20px;
    color: #F5F5F5;
}
.banner .content p{
    font-size: 1em;
    color: #F5F5F5;
    letter-spacing: 5px;
}
.box{
    position: absolute;
    top: 85%;
    left: 55%;
    -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}
.box{
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.box span{
    display: block;
    width: 40px;
    height: 40px;
    border-bottom:  1px solid #fff;
    border-right:  1px solid #fff;
    -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    margin: -10px;
    -webkit-animation: animate 2s infinite;
            animation: animate 2s infinite;
    cursor: pointer;   
}
.box span:nth-child(2){
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
}
.box span:nth-child(3){
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
}
@-webkit-keyframes animate{
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-30px, -30px);
                transform: rotate(45deg) translate(-30px, -30px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(30px, 30px);
                transform: rotate(45deg) translate(30px, 30px);
    }
}
@keyframes animate{
    0%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(-30px, -30px);
                transform: rotate(45deg) translate(-30px, -30px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        -webkit-transform: rotate(45deg) translate(30px, 30px);
                transform: rotate(45deg) translate(30px, 30px);
    }
}
.link-wrap{
    background-color: #1B1B1B;
    height: 100%;
    padding-top: 20px;
    border-bottom: 3px solid #225470;
}
.nav-menu{   
    position: relative;
    display: none;
}
.menu{
    overflow: hidden;  
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.menu ul{
    width: 100%;
}
.menu ul li{
    display: inline-block;
    padding: 0 22px;
    text-transform: uppercase;
}
.menu ul li a{
    color: #F5F5F5;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #225470;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
@-webkit-keyframes drop{
    0% {
        opacity: 0;
        -webkit-transform:  translateY(-80px);
                transform:  translateY(-80px);
    }
    100% {
        opacity: 1;
        -webkit-transform:  translateY(0px);
                transform:  translateY(0px);
    }
}
@keyframes drop{
    0% {
        opacity: 0;
        -webkit-transform:  translateY(-80px);
                transform:  translateY(-80px);
    }
    100% {
        opacity: 1;
        -webkit-transform:  translateY(0px);
                transform:  translateY(0px);
    }
}
/* ================================= Passion Section ========================================*/
.passion{
    padding-top: 75px;
    padding-bottom: 45px;
    background-color: #FFF5EE;
    overflow: hidden;
}
.hexagon{
    width: 200px;
    height: 100px;
    -webkit-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
        transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    margin: 0 auto;
}
.hexagon-inside{
    width: 100%;
    height: 100%;
    background: green;
    overflow: hidden;
    -webkit-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
        transform: rotate(-60deg);
}
.hexagon-img{
    width: 100%;
    height: 100%;
    background:#225470;
    -webkit-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
        transform: rotate(-60deg);
    visibility: visible;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hex-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 90%;
    margin: 0 auto;
}
.hexagon-wrap{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.hexagon-title{
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 600;
}
.fa-laptop-code, .fa-tablet-alt, .fa-database, .fa-people-carry{
    color: #F5F5F5;
    font-size: 45px;
    font-weight: 1;
    margin: auto;
}
/* ================================= About Me Section ========================================*/
.about-me{
    background-image: url("../images/me.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.about-me-overlay{
    padding: 70px;
    width: 100%;
    z-index:1;
    background:#225470;
    opacity:.75;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.about-content{
    width: 60%;
    color: white;
    margin: auto 0;
    padding: 20px 30px;
    background: rgba(41, 51, 71, .75);
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
            box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.about-content p{
    margin-bottom: 20px;
}
.skills-container{
    width: 100%;
}
.left-skills{
    width: 33%;
    float: left;
    padding-left: 30px;
}
.right-skills{
    width: 33%;
    float: left;
    margin-left: 15px;
}
.hex-wrap{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px 0px;
}
.hex-wrap span{
    margin: auto 0;
}
.hex{
    width: 40px;
    height: 20px;
    -webkit-transform: rotate(120deg);
            -ms-transform: rotate(120deg);
        transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
    margin: auto 0;
}
.hex-inside{
    width: 100%;
    height: 100%;
    background: green;
    overflow: hidden;
    -webkit-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
        transform: rotate(-60deg);
}
.hex-img{
    width: 100%;
    height: 100%;
    background: #4296c6;
    -webkit-transform: rotate(-60deg);
            -ms-transform: rotate(-60deg);
        transform: rotate(-60deg);
    visibility: visible;
}
/* ================================= Projects Section ========================================*/
.nav-tabs a{
    font-size: .70em;
}
.tab-content{
    background-color: #fff;
    padding: 20px;
    font-size: .85em;
    margin-left: 1px;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
ul li{
    list-style: none;
}
.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto;
}
.col-1{
    width: 100%;
    height: 100px;
    margin: 10px;
    background: red;
}
.projects{
    padding-top: 40px;
    padding-bottom: 80px;
    width: 90%;
    margin: 0 auto;
    background-color: #FFF5EE;
}
.projects h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 1em;
    color: #225470;
}
.project-title-headline{
    border-bottom: 5px solid #225470;
    display: inline-block;
    padding-bottom: 5px;
}
.project-title{
    color: #225470;
    font-weight: 700;
}
.project-develop{
    font-size: 25px;
    color: #225470;
}
.list{
    display: inline-block;
    color: #225470;
    margin-right: .5em;
    font-size: 0.727em;
}
a.link-btn{
    display: inline-block;
    padding:0.3em 1.5em;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    background-color: #4296c6;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    font-size: .75em;
    -webkit-transition-timing-function: ease-in;
            -o-transition-timing-function: ease-in;
       transition-timing-function: ease-in;
    margin-top: 10px;
}
a.link-btn:hover{
    border-color: rgba(	34, 84, 112,1);
}
a.resume-btn{
    display: inline-block;
    padding:0.3em 1.5em;
    border: 0.16em solid rgba(255,255,255,0);
    border-radius: 2em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    background-color: #4296c6;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    font-size: .75em;
    -webkit-transition-timing-function: ease-in;
            -o-transition-timing-function: ease-in;
       transition-timing-function: ease-in;
    margin-top: 10px;
}
a.resume-btn:hover{
    border-color: rgb(255, 255, 255);
}
hr{
    border: 1px solid #225470;
    margin: 2em 0;
}
/* ================================= Resume Section ========================================*/
.resume{
    padding-top: 50px;
    padding-bottom: 60px;
    background-color: #225470;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.resume-container{
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;  
}
.resume-wrapper{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;    
    -ms-flex-item-align: center;    
        -ms-grid-row-align: center;    
        align-self: center;
}
.resume-btn{
    text-align: end;
}
.resume .resume-wrapper h1{
    font-size: 36px;
}
.resume h1, .resume p{
    display: block;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #f5f5f5;
    margin: auto 0;
}
/* ================================= Contact Section ========================================*/
.contact{
    padding-top: 40px;
    padding-bottom: 80px;
    background-color: #FFF5EE;
    width: 90%;
    margin: 0 auto;
}

.contact-link:hover{
    text-decoration: none;
    color: #4296c6;
}
.contact h1{
    text-align: center;
    font-size: 35px;
    color: #225470;
}
.contact span{
    color: gray;
}
.contact-container{
    width: 80%;
    height: 200px;
    margin: 0 auto;
}
.contact-left{
    float: left;
    width: 35%;
    margin-right: 10px;
    height: 200px;
}
.contact-right{
    float: left;
    width: 63%;
    height: 200px;
    margin-left: 10px;
}
.contact-input{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 47.75%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    border: none;
    background-color: #FFF5EE;
    border-bottom: 2px solid #4296c6;
}
.contact-textarea{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #FFF5EE;
    border-bottom: 2px solid #4296c6;
}
::-webkit-input-placeholder {
    font-family: 'Exo', sans-serif;
}
:-ms-input-placeholder {
    font-family: 'Exo', sans-serif;
}
::-ms-input-placeholder {
    font-family: 'Exo', sans-serif;
}
::placeholder {
    font-family: 'Exo', sans-serif;
}
.submit-btn{
    margin-top: -50px !important;
    text-align: end;
}
.submit{
    background-color: #4296c6;
    border: none;
    color: #F5F5F5;
    padding: 11px 50px;
    text-align: center;
    font-size: 16px;
    margin-left: 0px 2px;
    cursor: pointer;
    margin: 0 auto;
}
.submit:hover{
    background-color: #225470;
}
.connect-me{
    color: #225470 !important; 
    font-size: 1.2em;
}
.fa-linkedin, .fa-github-square{
    margin-left: .5em;
    font-size: 1.75em;
    color: #4296c6;
}
.fa-linkedin:hover, .fa-github-square:hover{
    color: #225470;
}
/* ================================= Footer Section ========================================*/
.footer{
    height: 75px;
    background-color: #1B1B1B;
}
.footer-wrapper{
    width: 90%;
    margin: 0 auto;
}
.footer-name{
    color: #4296c6;
    font-size: 1.2em;
}
.footer-lastname{
    color: #225470;
    font-size: 1.2em;
}
.copyright{
    color: gray;
    margin-top: .7em;
    margin-left: 1em;
}
.fa-linkedin-in, .fa-github, .fa-facebook-f{
    color: #F5F5F5;
    font-size: 20px;
    margin: auto;
}